.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* .header {
    background-color: #cbdfff;
    /* color: #121212;
    position: fixed;
    width: 100%;
    z-index: 1000;
} */

.header {
    display: flex;
    width: 100%;
    height: 86px;
    padding: 20px 48px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    background: #FFF;
    /* background-color: #cbdfff; */
    position: fixed;
    z-index: 1000;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerImg {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #000000;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

/* .headerTitle {
    margin-left: 12px;
    color: #121212;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

.headerTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.headerTitlePrimary {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerTitlePrimaryText {
    color: var(--UTP-Black, #081022);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 120% */
    margin: 0;
}

.headerTitlePrimaryTag {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: #E3D8FF;
}

.headerTitlePrimaryTag p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #422171;
    text-overflow: ellipsis;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 120% */
    margin: 0;
}

.headerTitleSecondary {
    overflow: hidden;
    color: var(--UTP-Black, #081022);
    text-overflow: ellipsis;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin: 0;
}

.headerClear {
    display: flex;
    align-items: center;
    gap: 12px;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #000000;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #000000;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 20px;
}
